<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Login Page</title>

<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h1>Login page</h1>

        
        <a class="btn btn-primary" th:href="@{/user/greeting}">Login using OAuth</a>
            
    </div>

</body>
</html>